{% extends 'app/base.html' %}

{% block title %}
ログイン
{% endblock %}

{% load bootstrap4 %}
{% bootstrap_css %}

{% block content %}

<div class="card card-auth my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">ログイン</h5>
        <form method="post" class="form-auth">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <div class="d-flex justify-content-end">
                <!-- <a href="" class="btn btn-success mr-3">サインアップ</a> -->
                <button type="submit" class="btn btn-primary mr-2">
                    ログイン
                </button>
            </div>
            {% endbuttons %}

        </form>
    </div>
</div>


{% endblock %}
