@charset "utf-8";

・{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height:100vh;
    background-color: rgb(174, 208, 243);
}

nav {
    margin-bottom: 30px;
}

main {
    width: 50%;
    margin: 0 auto;
}

.card {
    width: 100%;
    margin-bottom: 30px;
}

*/・認証画面 */

/* .card-auth {
    width: 400px;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.card-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.card-body {
    padding: 2rem;
}

.form-auth {
    width: 100%;
}

.form-label-group {
    margin-bottom: 1rem;
}

.form-label-group input {
    border-radius: 2rem;
}

.form-control:focus {
    box-shadow: none;
} */
