{% extends 'app/base.html' %}

{% block title %}
Todo list
{% endblock %}

<div>
    {% block content %}
    <div>
        {% for post in post_data %}
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <h3 class="card-urgency d-flex">
                    <p class="card-status">{{ post.status }}</p>
                    <p class="card-priority">{{ post.priority }}</p>
                </h3>
                <p class="card-limit_datetime">期限: {{ post.limit_datetime }}</p>
                <p class="card-description">{{ post.description|truncatechars:50 }}</p>
            </div>
            <a href="" class="ml-3 mb-3">
                <button class="btn btn-primary">詳細</button>
            </a>
        </div>
        {% endfor %}
    </div>

    {% endblock %}
</div>
